body {
  font-family: "Titillium Web", sans-serif;
}

h1.welcome {
  font-size: calc(1.575rem + 3.9vw);
  margin-top: 10vh;
}
@media (min-width: 1200px) {
  h1.welcome {
    font-size: 4.5rem;
  }
}

#welcomeImage {
  height: calc(3.5rem + 11vw);
}
